/* src/components/Sidebar/Sidebar.module.css */
.sidebar {
  width: 384px; /* 3 birim */
  padding: 24px;
  background-color: #f4f4f4;
  border-right: 1px dashed #ccc;
}

.filter {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.filter label {
  font-weight: bold;
  margin-bottom: 8px;
}
